<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">add student</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="/view">viewstudent <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                </div>
              </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/read" method="POST">
                <table class="table">
                    <tr><td>Name</td><td><input type="text" name="name"></td></tr>
                    <tr><td>Roll No</td><td><input type="text" name="roll"></td></tr>
                    <tr><td>Admn No</td><td><input type="text" name="adm"></td></tr>
                    <tr><td>College</td><td><input type="text" name="clg"></td></tr>
                    <tr><td></td><td><button type="submit">Submit</button></td></tr>
                </table>
            </form>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>